{% extends '_realtimechart.html' %}
{% block text %}{% endblock  %}
{% block url %}{% endblock %}
{% block icon %}{% endblock  %}
{% block datasets %}
{
    label: "Válvula",
    tension: 0.1,
    fill: true,
    borderColor: "",
    data: [],
},
{
    label: "Control",
    tension: 0.1,
    fill: false,
    borderColor: "",
    data: [],
},
{% endblock  %}
{% block duration %}{% if perms.user.is_development %}35000{% else %}50000{% endif %}{% endblock  %}
{% block refresh %}{% if perms.user.is_development %}2000{% else %}5000{% endif %}{% endblock  %}
{% block delay %}{% if perms.user.is_development %}2000{% else %}5000{% endif %}{% endblock  %}
{% block on_refresh %}
{% comment %} _data=JSON.stringify({ action: 'data'});
fetch("{{url}}", {
    method: "POST",
    credentials: "same-origin",
    headers: {
        "X-Requested-With": "XMLHttpRequest",
        'X-CSRFToken': csrftoken,
        'Accept': 'application/json',
        'Content-Type': 'application/json',
    },
    body: _data,
    })
    .then(response =>  response.json())
    .then(data => 
    {
        myChart{{prfx}}.data.datasets[0].data.push({
            x:Date.now(),
            y:"22"
        });
        myChart{{prfx}}.update('quiet');
    })
    .catch(error => {
       
    }
); {% endcomment %}

$.ajax({
    url: '{{url}}',
    data: {
        'action': 'data_1',
    },
    type: 'POST',
    headers: {
        'X-CSRFToken': csrftoken
    },
    dataType: 'json',
    success: function (request) {
        myChart{{prfx}}.data.datasets[0].data.push({
            x:Date.now(),
            y:request.response.V
        });
        myChart{{prfx}}.data.datasets[1].data.push({
            x:Date.now(),
            y:request.response.AC
        });
        myChart{{prfx}}.update('quiet');
    },
    error: function (jqXHR, textStatus, errorThrown) {
    }
}) 

{% endblock  %}